<div class="container main-container ">

    <router-outlet></router-outlet>

</div>

<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Documentos Adjuntos</h3>
    <table class="table ">
        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">DOCUMENTOS ADJUNTOS</th>
            </tr>
        </thead>
        <!---->
        <tbody *ngFor="let item of proyecto.adjuntoUrl">
            <tr>
                <th><a href={{item.url}} class="card-link">{{item.nombre}}</a></th>
            </tr>
        </tbody>
    </table>
</div>