<app-nav-usuarios>

</app-nav-usuarios>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>
<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Usuarios</h3>
    <hr>

    <table class="table ">
        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">Usuarios</th>
                <th style="text-align: center " scope="col ">Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                        <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                      </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                    <span class="glyphicon glyphicon-edit"></span> Modificar
                  </button>
                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                            <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                          </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                        <span class="glyphicon glyphicon-edit"></span> Modificar
                      </button>

                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                                <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                              </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                            <span class="glyphicon glyphicon-edit"></span> Modificar
                          </button>

                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                                    <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                                  </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                                <span class="glyphicon glyphicon-edit"></span> Modificar
                              </button>

                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                                        <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                                      </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                                    <span class="glyphicon glyphicon-edit"></span> Modificar
                                  </button>

                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                                            <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                                          </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                                        <span class="glyphicon glyphicon-edit"></span> Modificar
                                      </button>

                </td>
            </tr>
            <tr>
                <td>ana_maria.agudelo@implementalsystems.com</td>
                <td> <button [routerLink]="['/visualizarUsuario']" class="myButton">
                                                <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                                              </button>
                </td>
                <td><button [routerLink]="['/modificarUsuario']" class="myButton">
                                            <span class="glyphicon glyphicon-edit"></span> Modificar
                                          </button>
            </tr>
        </tbody>
    </table>