<app-nav-usuarios>

</app-nav-usuarios>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>
<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Usuarios</h3>
    <hr>

    <table class="table ">
        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">Usuarios</th>
                <th style="text-align: center " scope="col ">Acciones</th>
                <th></th>
            </tr>
        </thead>

        <tbody *ngFor="let user of users">
            <tr>
                <th scope="row ">{{user.email}}</th>
                <td> <button [routerLink]="['/visualizarUsuario', user.email]" class="myButton">
                        <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                        </button></td>
                <td><button [routerLink]="['/modificarUsuario', user.email]" class="myButton">
                        <span class="glyphicon glyphicon-edit"></span> Modificar
                        </button></td>
            </tr>
        </tbody>
    </table>