<br>
<br>
<div class="card bg-light mb-3 " style="max-width: 30rem;">
    <div class="container">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Información de Cliente</h3>
                    <hr>
                    <br>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label for="validationDefault01">Nombre Cliente</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Cliente 1" aria-label="Recipient's NombreMercado" aria-describedby="button-addon2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Descripción</label>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Cliente 1 es una empresa dedicada a blablablabla..."></textarea>
                </div>
                <span class="help-block" id="error"></span>
                <hr>
            </form>
        </form>
    </div>
</div>