<app-nabvar-admin>

</app-nabvar-admin>
<br>
<app-nav-usuarios>

</app-nav-usuarios>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>
<br>
<br>
<div class="card bg-light mb-3 mx-auto" style="max-width: 50rem; ">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Registrar Usuarios</h3>
                    <hr>
                    <br>
                </div>

                <form (submit)="onSubmitAddUser(formGuardarUsers)" #formGuardarUsers="ngForm">
                    <div class="form-group row was-validated">
                        <label for="nombres" class="col-2 col-form-label">Nombres<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <input size="50" class="form-control" type="text" #input [value]="input.value.toUpperCase()" placeholder="Nombres" id="nombres" name="nombres" [(ngModel)]="user.nombres" minlength="3" required #nombres="ngModel">
                            <div *ngIf="nombres?.errors?.required && (nombres.touched)" class="invalid-feedback">Este campo es requerido</div>
                            <div *ngIf="nombres?.errors?.minlength && (nombres.touched)" class="invalid-feedback">Mínimo 3 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group row was-validated">
                        <label for="apellidos" class="col-2 col-form-label">Apellidos<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <input size="50" class="form-control" type="text" #input1 [value]="input1.value.toUpperCase()" placeholder="Apellidos" id="apellidos" name="apellidos" [(ngModel)]="user.apellidos" minlength="3" required #apellidos="ngModel">
                            <div *ngIf="apellidos?.errors?.required && (apellidos.touched)" class="invalid-feedback">Este campo es requerido</div>
                            <div *ngIf="apellidos?.errors?.minlength && (apellidos.touched)" class="invalid-feedback">Mínimo 3 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group row was-validated">
                        <label for="email" class="col-2 col-form-label">Email<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <input size="50" class="form-control" type="email" #input2 [value]="input2.value.toUpperCase()" placeholder="Email@mail.com" id="email" name="email" [(ngModel)]="user.email" required #email="ngModel">
                            <div *ngIf="email?.errors?.required && (email.touched)" class="invalid-feedback">Este campo es requerido</div>
                        </div>
                    </div>
                    <div class="form-group row was-validated">
                        <label for="login" class="col-2 col-form-label">Password<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <input size="50" class="form-control" type="password" placeholder="Password" id="password" [(ngModel)]="user.password" name="password" minlength="6" required #password="ngModel">
                            <div *ngIf="password?.errors?.required && (password.touched)" class="invalid-feedback">Este campo es requerido</div>
                            <div *ngIf="password?.errors?.minlength && (password.touched)" class="invalid-feedback">Mínimo 6 caracteres</div>
                        </div>
                    </div>


                    <div class="form-group row was-validated">
                        <label for="perfil" class="col-2 col-form-label">Perfil<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <select class="form-control" id="role" name="role" style="width:595px" size="1" [(ngModel)]="user.role" required #role="ngModel">
                                <option value="">SELECCIONE UN ROL</option>
                                <option value="ADMIN">ADMINISTRADOR</option>
                                <option value="CONSULT">CONSULTOR</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row was-validated">
                        <label for="perfil" class="col-2 col-form-label">Estado<Span class="rojo">*</Span></label>
                        <div class="col-md-10">
                            <select class="form-control" id="estado" name="estado" style="width:595px" size="1" [(ngModel)]="user.estado" required #role="ngModel">
                                    <option value="">SELECCIONE ESTADO</option>
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="ACTIVO">INACTIVO</option>
                                </select>
                        </div>
                    </div>
                    <label for="email" class="col-6 col-form-label"><Span class="rojo">*</Span>Campos Obligatorios</label>
                    <hr>
                    <div class="form-footer">
                        <button type="submit" [disabled]="!formGuardarUsers.valid" class=" myButton btn-block "><span
                                class="glyphicon glyphicon-log-in "></span><b>Registrar</b></button>

                    </div>
                    <hr>
                </form>
            </form>
        </form>
    </div>
</div>