<app-nabvar-consult></app-nabvar-consult>


<div class="container main-container">
    <ng-flash-message></ng-flash-message>
    <router-outlet></router-outlet>

</div>

<br>
<div class="cotainer">
    <h3 style="text-align: center">Zona de Consulta de Proyectos</h3>
    <hr>

    <P style="text-align: center">Ha igresado como Usuario de Consulta de la App Web PMO</P>
    <br><br><br><br><br><br><br><br><br><br>
    <hr>
    <div class="text-center" id="contenedor">
        <img src="/assets/img/LogoIS.ico" class="rounded " alt="... " class="rounded-circle">
    </div>
</div>