<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <img src="/assets/img/LogoIS.ico" class="rounded-circle" width="30" height="30" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <ul class="nav nav">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item " routerLinkActive="router-link-active ">
                <a class="nav-link active " [routerLink]="['/homeConsult']"><small><b>INICIO</b></small></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item dropdown" routerLinkActive="Active">
                <a class="nav-link dropdown-toggle" [routerLink]="[ '/proyectosConsult'] " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><b>PROYECTOS</b></small></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#listarProyectosConsult">LISTA
                    PROYECTOS</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto "></ul>
        <form class="form-inline my-2 my-lg-0 ">

            <input class="form-control mr-sm-2 " type="text " placeholder="Buscar Proyecto " #buscarTexto (keyup.enter)="buscarProyecto(buscarTexto) ">
            <button (click)="buscarProyecto(buscarTexto.value) " class="myButton " type="button ">
                <span class="glyphicon glyphicon-search "></span> Buscar
            </button>
        </form>
    </ul>
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item " routerLinkActive="Active ">
            <a class="nav-link " [routerLink]="[ '/perfilConsult'] "><small><b>PERFIL</b></small></a>
        </li>
        <li class="nav-item " routerLinkActive="Active ">
            <a class="nav-link " [routerLink]="[ '/home'] " (click)="onLogout()"><small><b>SALIR</b></small></a>
        </li>
    </ul>

</nav>