<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Modificar Información del proyecto</h3>
                    <hr>
                    <br>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Código Proyecto<Span class = "rojo">*</Span></label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="001">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Nombre Proyecto<Span class = "rojo">*</Span></label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Proyecto 1">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Descripción<Span class = "rojo">*</Span></label>
                        <textarea class="form-control" aria-label="With textarea" placeholder="Este es el primer proyector egistrado en el sistema"></textarea>
                    </div>

                    <label for="exampleDropdownFormEmail1">Cliente<Span class = "rojo">*</Span></label>
                    <select class="custom-select" id="inputGroupSelect01">         
                            <option selected>Seleccione un cliente</option>
                            <option value="1">Cliente 1</option>
                            <option value="2">Cliente 2</option>
                            <option value="3">Cliente 3</option>
                          </select>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Documentos Adjuntos</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Debe seleccionar los archivos en formato PDF
                            <Span class="rojo">*</Span>
                        </p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Alcance proyecto</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Cronograma</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Hitos de Facturación</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Informe de Seguimiento</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Indicadores de Desempeño</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Documento de Riesgos detectados</label>
                        </div>

                    </div>
                </div>
                <br>
                <hr>
                <form>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class=" myButton btn-block "><span class="glyphicon glyphicon-log-in "></span><b>Guardar Cambios</b></button>
                        </div>
                    </div>
                </form>
                <hr>
            </form>
        </form>
    </div>
</div>