<app-nabvar-admin>

</app-nabvar-admin>
<br>
<app-nav-clientes>

</app-nav-clientes>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>

<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Clientes</h3>
    <table class="table ">
        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">Código</th>
                <th scope="col ">Nombre</th>
                <td></td>
                <th scope="col ">Acciones</th>
            </tr>
        </thead>

        <tbody *ngFor="let cliente of clientes">
            <tr>
                <th scope="row ">{{cliente.codigo}}</th>
                <td>{{cliente.nombre}}</td>
                <td> <button [routerLink]="['/visualizarCliente', cliente.codigo]" class="myButton">
                    <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                    </button></td>
                <td><button [routerLink]="['/modificarCliente', cliente.codigo]" class="myButton">
                    <span class="glyphicon glyphicon-edit"></span> Modificar
                    </button></td>
            </tr>
        </tbody>
    </table>