<app-nav-clientes>

</app-nav-clientes>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>

<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Clientes</h3>
    <hr>

    <table class="table ">

        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">Código</th>
                <th></th>
                <th scope="col ">Nombre</th>
                <th></th>
                <th style="text-align: center " scope="col ">Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>xxx1</td>
                <th></th>
                <td>Cliente 1</td>
                <th></th>
                <td><button [routerLink]="['/visualizarCliente']" class="btn btn-outline-danger ">
                      <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                    </button>
                </td>
                <td><button [routerLink]="['/modificarCliente']" class="btn btn-outline-danger">
                      <span class="glyphicon glyphicon-edit"></span> Modificar
                    </button>
                </td>
            </tr>
            <tr>
                <td>xxx2</td>
                <th></th>
                <td>Cliente 2</td>
                <th></th>
                <td><button [routerLink]="['/visualizarCliente']" class="btn btn-outline-danger">
                      <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                    </button>
                </td>
                <td><button [routerLink]="['/modificarCliente']" class="btn btn-outline-danger">
                      <span class="glyphicon glyphicon-edit"></span> Modificar
                    </button>
                </td>
            </tr>
            <tr>
                <td>xxx3</td>
                <th></th>
                <td>Cliente 3</td>
                <th></th>
                <td><button [routerLink]="['/#']" class="btn btn-outline-danger ">
                      <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                    </button>
                </td>
                <td><button [routerLink]="['/#']" class="btn btn-outline-danger ">
                      <span class="glyphicon glyphicon-edit"></span> Modificar
                    </button>
                </td>
            </tr>
            <tr>
                <td>xxx4</td>
                <th></th>
                <td>Cliente 4</td>
                <th></th>
                <td><button [routerLink]="['/#']" class="btn btn-outline-danger">
                      <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                    </button>
                </td>
                <td><button [routerLink]="['/#']" class="btn btn-outline-danger">
                      <span class="glyphicon glyphicon-edit"></span> Modificar
                    </button>
                </td>
            </tr>

        </tbody>
    </table>