<app-nabvar-admin>

</app-nabvar-admin>
<br>
<app-nav-proyectos></app-nav-proyectos>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Formulario Nuevo proyecto
                    </h3>
                    <hr>
                    <br>
                </div>
                <form>
                    <div class="form-group was-validated">
                        <label for="codigo">Código Proyecto<Span class="rojo">*</Span></label>
                        <input class="form-control" type="text" #input [value]="input.value.toUpperCase()" placeholder="Código" id="codigo" name="codigo" [(ngModel)]="proyecto.codigo" minlength="3" required #codigo="ngModel">
                        <div *ngIf="codigo?.errors?.required && (codigo.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="codigo?.errors?.minlength && (codigo.touched)" class="invalid-feedback">Mínimo 3 caracteres
                        </div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="nombre">Nombre Proyecto<Span class="rojo">*</Span></label>
                        <input class="form-control" type="text" #input1 [value]="input1.value.toUpperCase()" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" minlength="3" required #nombre="ngModel">
                        <div *ngIf="nombre?.errors?.required && (nombre.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="nombre?.errors?.minlength" class="invalid-feedback">Mínimo 3 caracteres</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="descripcion">Descripción<Span class="rojo">*</Span></label>
                        <textarea class="form-control" #input2 [value]="input2.value.toUpperCase()" placeholder="Descripción" aria-label="With textarea" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" minlength="2" required required #descripcion="ngModel"></textarea>
                        <div *ngIf="descripcion?.errors?.required && (descripcion.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="descripcion?.errors?.minlength" class="invalid-feedback">Mínimo 2 caracteres</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="cliente">Cliente<Span class="rojo">*</Span></label>
                        <select class="form-control is-invalid" id="cliente" name="cliente" [(ngModel)]="proyecto.cliente" #cliente="ngModel" required>
                            <option selected>{{proyecto.cliente}}</option>
                        </select>
                        <div *ngIf="cliente?.errors?.required && (codigo.touched)" class="invalid-feedback">Debe seleccionar un cliente</div>
                    </div>

                    <br>
                    <br>
                    <form #formGuardarArchivo="ngForm" (ngSubmit)="cargarArchivos(formGuardarArchivo)">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Adjuntar Documentos</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10">
                                        <input type="file" class="multiple" (change)="selectFile($event)" id="docuemento" name="docuemento" accept=".pdf">
                                    </div>
                                    <div class="col-2">
                                        <div class="col-4">
                                            <button type="button" class="myButton" (click)="limpiarArchivos()">
                                                limpiar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <table class="table">
                                    <thead class="list-group-item-danger ">
                                        <tr class="light bg-light">
                                            <th scope="col ">Nombre Archivo</th>
                                            <th scope="col ">Tamaño</th>
                                            <td></td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let archivo of archivos">
                                            <td>{{archivo.nombreAdjunto}}</td>
                                            <td>{{archivo.adjunto.size / 1024 /1024 | number: '.2-2'}} MB</td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <label for="email" class="col-6 col-form-label"><Span class="rojo">*</Span>Campos
                            Obligatorios</label>
                        <hr>
                        <div class="form-footer">

                            <button type="submit" class=" myButton btn-block"> Guardar</button>
                            <hr>
                        </div>

                    </form>
                </form>

            </form>
        </form>
    </div>
</div>