<app-nabvar-consult>

</app-nabvar-consult>

<div class="container main-container ">

    <router-outlet></router-outlet>

</div>

<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Proyectos</h3>
    <hr>

    <input class="form-control mr-sm-2 " type="text " placeholder="Buscar Proyecto " (keydown)="applyFilter($event)">
    <br>
    <table class="table">
        <thead class="list-group-item-danger ">
            <tr class="light bg-light">
                <th scope="col ">Código</th>
                <th scope="col ">Nombre</th>
                <td></td>
                <th scope="col ">Acciones</th>
            </tr>
        </thead>

        <tbody *ngFor="let proyecto of proyectos">
            <tr>
                <th scope="row ">{{proyecto.codigo}}</th>
                <td>{{proyecto.nombre}}</td>
                <td></td>
                <td> <button [routerLink]="['/VisualizarProyectoConsult', proyecto.codigo]" class="myButton">
                            <span class="glyphicon glyphicon-eye-open"></span> Visualizar
                        </button></td>
            </tr>
            <tr *ngIf="proyectos?.length === 0">
                <td>No se encontraron Coincidencias</td>

            </tr>
        </tbody>
    </table>
</div>