<div class="container ">
    <br>
    <h3 style="text-align: center ">Listado de Regiones</h3>
    <hr>

    <table class="table ">
        <thead class="list-group-item-primary ">
            <tr>
                <th scope="col ">Región</th>
                <th></th>
                <th style="text-align: center " scope="col ">Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Latinoamerica </td>
                <th></th>
                <td><button type="button " class="btn btn-default btn-sm ">
                                      <span class="glyphicon glyphicon-eye-open "></span> Visualizar
                                    </button>
                </td>
                <td><button type="button " class="btn btn-default btn-sm ">
                                      <span class="glyphicon glyphicon-eye-open "></span> Modificar
                                    </button>
                </td>
            </tr>
            <tr>
                <td>Europa</td>
                <th></th>
                <td><button type="button " class="btn btn-default btn-sm ">
                                          <span class="glyphicon glyphicon-eye-open "></span> Visualizar
                                        </button>
                </td>
                <td><button type="button " class="btn btn-default btn-sm ">
                                          <span class="glyphicon glyphicon-eye-open "></span> Modificar
                                        </button>
                </td>
            </tr>
            <tr>
                <td>Estados Unidos</td>
                <th></th>
                <td><button type="button " class="btn btn-default btn-sm ">
                                          <span class="glyphicon glyphicon-eye-open "></span> Visualizar
                                        </button>
                </td>
                <td><button type="button " class="btn btn-default btn-sm ">
                                          <span class="glyphicon glyphicon-eye-open "></span> Modificar
                                        </button>
                </td>
            </tr>
            <tr>
                <td>Africa</td>
                <th></th>
                <td><button type="button " class="btn btn-default btn-sm ">
                                              <span class="glyphicon glyphicon-eye-open "></span> Visualizar
                                            </button>
                </td>
                <td><button type="button " class="btn btn-default btn-sm ">
                                              <span class="glyphicon glyphicon-eye-open "></span> Modificar
                                            </button>
                </td>
            </tr>
        </tbody>
    </table>