<br>
<br>
<div class="card bg-light mb-3 " style="max-width: 30rem;">
    <div class="container">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Modificar Información de Region</h3>
                    <hr>
                    <br>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label for="validationDefault01">Nombre Región</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Latinoamerica" aria-label="Recipient's NombreRegion" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2"> <span class="glyphicon glyphicon-edit"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Descripción</label>
                    <div class="input-group-append">
                        <textarea class="form-control" aria-label="With textarea" placeholder="Latinoamerica es una región ubicada en el continente Americano en la cual la compañía tiene gran parte de sus proyectos..." aria-describedby="button-addon2"></textarea>
                        <button class="btn btn-outline-primary" type="button" id="button-addon2"> <span class="glyphicon glyphicon-edit"></span></button>
                    </div>
                </div>
                <span class="help-block" id="error"></span>
                <hr>
                <div class="form-footer">
                    <button type="submit" class=" btn btn-primary btn-block "><span class="glyphicon glyphicon-log-in "></span>Guardar Cambios</button>
                </div>
            </form>
        </form>
    </div>
</div>