<br>
<br>
<div class="card bg-light mb-3 mx-auto" style="max-width: 30rem; ">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h1 style="text-align: center"><i class="fa fa-user"></i> Oops!</h1>
                    <h2 style="text-align: center"><i class="fa fa-user"></i>404 Página no encontrada</h2>
                    <br>
                </div>
            </form>
            <!--<div style="text-align: center">
                <a href="# " class="myButton "> <span class="glyphicon glyphicon-home "></span> Ir a la Home Página</a>
            </div>-->
        </form>
    </div>
</div>