<app-nav-clientes>

</app-nav-clientes>

<div class="container main-container">

    <router-outlet></router-outlet>

</div>
<br>
<br>

<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Formulario Nuevo Cliente</h3>
                    <hr>
                    <br>
                </div>
                <form #formGuardar="ngForm" (ngSubmit)="onGuardarCliente(formGuardar)">
                    <!-- <div class="form-body">-->
                    <div class="form-group">
                        <label for="codigo">Código Cliente</label>
                        <input type="email" class="form-control" placeholder="Código" id="codigo" name="codigo" [(ngModel)]="cliente.codigo">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Cliente</label>
                        <input type="email" class="form-control" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="cliente.nombre">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" aria-label="With textarea" id="descripcion" name="descripcion" [(ngModel)]="cliente.descripcion">Describe brevemente la actividad del Cliente</textarea>
                    </div>

                    <label for="region">Región</label>
                    <select class="custom-select" id="region" name="region" [(ngModel)]="cliente.region">         
                            <option selected>Seleccione una Región</option>
                            <option value=" Europa">Europa</option>
                            <option value="Latinoamerica">Latinoamerica</option>
                            <option value="Africa">Africa</option>
                    </select>

                    <label for="pais">País</label>
                    <select class="custom-select" id="pais" name="pais" [(ngModel)]="cliente.pais">         
                            <option selected>Seleccione un País</option>
                            <option value="Colombia">Colombia</option>
                            <option value="España">España</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Chile">Chile</option>
                    </select>

                    <label for="mercado">Mercado</label>
                    <select class="custom-select" id="mercado" name="mercado" [(ngModel)]="cliente.mercado">         
                            <option selected>Seleccione un mercado</option>
                            <option value="Telcom">Telcom</option>
                            <option value="Electricas">Electricas</option>
                            <option value="Productos Internos">Productos Internos</option>
                    </select>
                    <br>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Datos de Contacto del Cliente</h5>
                        </div>
                        <div class="card-body">
                            <label for="codigo">Nombre de Contacto</label>
                            <div class="custom-file">
                                <input type="text" class="form-control" placeholder="Nombre del contacto" id="Ncontacto" name="Ncontacto" [(ngModel)]="cliente.ncontacto">
                            </div>
                            <br>
                            <br>
                            <label for="codigo">Email de Contacto</label>
                            <div class="custom-file">
                                <input type="text" class="form-control" placeholder="Email del contacto" id="Econtacto" name="Econtacto" [(ngModel)]="cliente.econtacto">
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <hr>
                    <div class="form-footer">
                        <button type="submit" class=" myButton btn-block "> Registrar</button>
                        <hr>
                    </div>
                </form>
            </form>
        </form>
    </div>
</div>