<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/img/LogoIS.ico" width="30" height="30" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!--active -->
            <li class="nav-item" routerLinkActive="Active">
                <a class="nav-link active" [routerLink]="['home']"><small><b>INICIO</b></small></a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="Active">
                <a class="nav-link dropdown-toggle" [routerLink]="['proyectos']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><b>PROYECTOS</b></small></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#nuevoProyecto">NUEVO PROYECTO</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#listarProyecto">LISTA PROYECTOS</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="Active">
                <a class="nav-link dropdown-toggle" [routerLink]="['gestionDatos']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><b>GESTION DATOS</b></small>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#mercados">MERCADOS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#regiones">REGIONES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#paises">PAÍSES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#clientes">CLIENTES</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="Active">
                <a class="nav-link dropdown-toggle" [routerLink]="['controlAcceso']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><b>CONTROL ACCESO</b></small>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#registar">REGISTRO USUARIOS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#listar">LISTA USUARIOS</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button [routerLink]="['/#']" class="btn btn-outline-primary ">
                <span class="glyphicon glyphicon-search"></span> Buscar
              </button>
            <!--<button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search" ></span><b>Buscar</b></button>-->
        </form>
    </div>
</nav>