.borde {
    border: 1px solid black;
}

.main-container {
    margin-top: 20 px;
}

.bar {
    width: 50 px;
}


/*Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.myButton {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -webkit-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -o-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -ms-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: linear-gradient(to bottom, #8f3440 5%, #8f3440 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #8f3440;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #8f3440;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #8f3440;
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #773e58f1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8f3440), color-stop(1, #8f3440));
    background: -moz-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -webkit-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -ms-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: -o-linear-gradient(top, #8f3440 5%, #8f3440 100%);
    background: linear-gradient(to bottom, #8f3440 5%, #8f3440 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #8f3440;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #8f3440;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8f3440), color-stop(1, #f0dfe1));
    background: -moz-linear-gradient(top, #f0dfe1 5%, #f0dfe1 100%);
    background: -webkit-linear-gradient(top, #f0dfe1 5%, #f0dfe1 100%);
    background: -o-linear-gradient(top, #f0dfe1 5%, #f0dfe1 100%);
    background: -ms-linear-gradient(top, #862b37 5%, #862b37 100%);
    background: linear-gradient(to bottom, #862b37 5%, #862b37 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #f0dfe1;
}

.myButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

body {
    background-color: rgba(255, 255, 255, 0.993);
}

#contenedor {
    width: 100;
    height: 80%;
    background-color: #862b37;
}

.rojo {
    color: red;
}

.Fields {
    background-color: #ffffff;
    border: 2px solid #862b37;
}

.alert {
    margin-top: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #8f3440;
    /* Blue */
    border-radius: 50%;
    margin: 10% auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}