<div class="container main-container ">

    <router-outlet></router-outlet>
</div>

<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Formulario Nuevo proyecto
                    </h3>
                    <hr>
                    <br>
                </div>

                <!--<form #formGuardarProyecto="ngForm" (ngSubmit)="onGuardarProyecto(formGuardarProyecto)">-->
                <form #formGuardarProyecto="ngForm">
                    <div class="form-group">
                        <label for="codigo">Código Proyecto<Span class="rojo">*</Span></label>
                        <input type="text" class="form-control" placeholder="Código" id="codigo" name="codigo" [(ngModel)]="proyecto.codigo">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Proyecto<Span class="rojo">*</Span></label>
                        <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción<Span class="rojo">*</Span></label>
                        <textarea class="form-control" placeholder="Descripción" aria-label="With textarea" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion">Describe brevemente la actividad del Cliente</textarea>
                    </div>
                    <label for="cliente">Cliente<Span class="rojo">*</Span></label>
                    <select class="custom-select" id="cliente" name="cliente" [(ngModel)]="proyecto.cliente">
                        <option selected *ngFor="let cliente of clientes">{{cliente.nombre}}</option>
                    </select>

                    <br>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Adjuntar Documentos</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <input type="file" class="formcontrol" multiple="true" (change)="startUpload($event)" id="docuemento" name="docuemento" accept=".pdf">
                                </div>
                                <div class="row">
                                    <label for="perfil" class="col-3 col-form-label"><b>Descripción</b></label>
                                    <div class="col-1  ">
                                        <select class="custom-select" id="perfil" name="perfil" style="width:380px" size="1">
                                            <option selected>Seleccionar Tipo de Archivo</option>
                                            <option value="Alcance proyecto">Alcance proyecto</option>
                                            <option value="Cronograma">Cronograma</option>
                                            <option value="Hitos de Facturación">Hitos de Facturación</option>
                                            <option value="Informe de Seguimiento">Informe de Seguimiento</option>
                                            <option value="Indicadores de Desempeño">Indicadores de Desempeño</option>
                                            <option value="Documento de Riesgos detectados">Documento de Riesgos
                                                detectados</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table class="table">
                                    <thead class="list-group-item-danger ">
                                        <tr class="light bg-light">
                                            <th>Nombre Archivo</th>
                                            <th>Progreso</th>
                                            <th></th>
                                            <th></th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let archivo of archivos">
                                            <td>{{archivo.name}}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso +'%'}"></div>
                                                </div>
                                            </td>
                                            <th></th>
                                            <th></th>
                                            <td> <button (click)="limpiarArchivos()" class="myButton">Limpiar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <br>
                    <label for="email" class="col-6 col-form-label"><Span class="rojo">*</Span>Campos Obligatorios</label>
                    <hr>
                    <div class="form-footer">
                        <button type="button" (click)="onGuardarProyecto(formGuardarProyecto)" class=" myButton btn-block "> Registrar</button>
                        <hr>
                    </div>
                </form>
            </form>
        </form>
    </div>
</div>