<app-nabvar-admin>

</app-nabvar-admin>

<div class="container main-container ">

    <router-outlet></router-outlet>
</div>

<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Formulario Nuevo proyecto
                    </h3>
                    <hr>
                    <br>
                </div>
                <form (ngSubmit)="onGuardarProyecto(formGuardarProyecto)" #formGuardarProyecto="ngForm" novalidate="">
                    <div class="form-group was-validated">
                        <label for="codigo">Código Proyecto<Span class="rojo">*</Span></label>
                        <input class="form-control" type="text" #input [value]="input.value.toUpperCase()" placeholder="Código" id="codigo" name="codigo" [(ngModel)]="proyecto.codigo" minlength="3" required #codigo="ngModel">
                        <div *ngIf="codigo?.errors?.required && (codigo.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="codigo?.errors?.minlength" class="invalid-feedback">Mínimo 3 caracteres</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="nombre">Nombre Proyecto<Span class="rojo">*</Span></label>
                        <input class="form-control" type="text" #input1 [value]="input1.value.toUpperCase()" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" minlength="3" required #nombre="ngModel">
                        <div *ngIf="nombre?.errors?.required && (nombre.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="nombre?.errors?.minlength" class="invalid-feedback">Mínimo 3 caracteres</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="descripcion">Descripción<Span class="rojo">*</Span></label>
                        <textarea class="form-control" #input2 [value]="input2.value.toUpperCase()" placeholder="Descripción" aria-label="With textarea" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" minlength="2" required required #descripcion="ngModel">Describe brevemente la actividad del Cliente</textarea>
                        <div *ngIf="descripcion?.errors?.required && (descripcion.touched)" class="invalid-feedback">Este campo es requerido</div>
                        <div *ngIf="descripcion?.errors?.minlength" class="invalid-feedback">Mínimo 2 caracteres</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="cliente">Cliente<Span class="rojo">*</Span></label>
                        <select class="form-control is-invalid" id="cliente" name="cliente" [(ngModel)]="proyecto.cliente" #cliente="ngModel" required>
                        <option value="">SELECCIONE UN CLIENTE</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.codigo">{{cliente.codigo}}</option>
                        </select>
                        <div *ngIf="cliente?.errors?.required && (codigo.touched)" class="invalid-feedback">Debe seleccionar un cliente</div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label for="nombre">Adjuntos Proyecto<Span class="rojo">*</Span></label>
                        <input class="form-control" type="text" placeholder="Adjuntos" id="adjuntoUrl" name="adjuntoUrl" [(ngModel)]="proyecto.adjuntoUrl">
                    </div>
                    <label for="campos" class="col-6 col-form-label"><Span class="rojo">*</Span>Campos Obligatorios</label>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" [disabled]="!formGuardarProyecto.valid" class=" myButton btn-btn">  Adjuntar documentos</button>
                        </div>
                        <hr>
                    </div>
                    <hr>
                </form>
            </form>
        </form>
    </div>
</div>