<app-nav-proyectos>

</app-nav-proyectos>

<div class="container main-container ">

    <router-outlet></router-outlet>
</div>

<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Formulario Nuevo proyecto</h3>
                    <hr>
                    <br>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Código Proyecto</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Código">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Nombre Proyecto</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Nombre">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Descripción</label>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>

                    <label for="exampleDropdownFormEmail1">Cliente</label>
                    <select class="custom-select" id="inputGroupSelect01">         
                            <option selected>Seleccione un cliente</option>
                            <option value="1">Cliente 1</option>
                            <option value="2">Cliente 2</option>
                            <option value="3">Cliente 3</option>
                          </select>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Adjuntar Documentos</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Debe seleccionar los archivos en formato PDF</p>



                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Alcance proyecto</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Cronograma</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Hitos de Facturación</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Informe de Seguimiento</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Indicadores de Desempeño</label>
                        </div>
                        <br>
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Documento de Riesgos detectados</label>
                        </div>

                    </div>
                </div>
                <br>


                <div class="form-footer">
                    <button type="submit" class=" btn btn-primary btn-block "><span class="glyphicon glyphicon-log-in "></span> Registrar</button>
                    <hr>
                </div>
            </form>
        </form>
    </div>
</div>