<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Modificar Información del Cliente</h3>
                    <hr>
                    <br>
                </div>

                <form #formModificarCliente="ngForm" (ngSubmit)="onModificarCliente(formModificarCliente)">
                    <div class="form-group">
                        <label for="codigo">Código Cliente<Span class = "rojo">*</Span></label>
                        <input type="text" class="form-control" placeholder="Código" id="codigo" name="codigo" [(ngModel)]="codCliente">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Cliente<Span class = "rojo">*</Span></label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción<Span class = "rojo">*</Span></label>
                        <textarea class="form-control" aria-label="With textarea" id="descripcion" name="descripcion"></textarea>
                    </div>

                    <span class="badge badge-pill badge-dark"></span>

                    <label for="region">Región<Span class = "rojo">*</Span></label>
                    <select class="custom-select" id="region" name="region">  
                            <option selected ></option>
                            <option value=" Europa">Europa</option>
                            <option value="Latinoamerica">Latinoamerica</option>
                            <option value="Africa">Africa</option>
                    </select>

                    <label for="pais">País<Span class = "rojo">*</Span></label>
                    <select class="custom-select" id="pais" name="pais">         
                            <option selected ></option>
                            <option value="Colombia">Colombia</option>
                            <option value="España">España</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Chile">Chile</option>
                    </select>

                    <label for="mercado">Mercado<Span class = "rojo">*</Span></label>
                    <select class="custom-select" id="mercado" name="mercado">         
                            <option selected ></option>
                            <option value="Telcom">Telcom</option>
                            <option value="Electricas">Electricas</option>
                            <option value="Productos Internos">Productos Internos</option>
                    </select>
                    <br>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Datos de Contacto del Cliente</h5>
                        </div>
                        <div class="card-body">
                            <label for="codigo">Nombre de Contacto<Span class = "rojo">*</Span></label>
                            <div class="custom-file">
                                <input type="text" class="form-control" id="Ncontacto" name="Ncontacto">
                            </div>
                            <br>
                            <br>
                            <label for="codigo">Email de Contacto<Span class = "rojo">*</Span></label>
                            <div class="custom-file">
                                <input type="email" class="form-control" id="Econtacto" name="Econtacto">
                            </div>
                            <br>
                        </div>
                    </div>
                    <form>
                        <label for="email" class="col-6 col-form-label"><Span class = "rojo">*</Span>Campos Obligatorios</label>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class=" myButton btn-block "> Guardar Cambios </button>
                            </div>
                        </div>
                        <hr>
                    </form>


                </form>

            </form>
        </form>
    </div>
</div>