<br>
<br>
<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="container">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <form class="px-4 py-3">
            <form role="form" id="register-form" autocomplete="off">
                <div class="form-header">
                    <h3 style="text-align: center" class="form-title"><i class="fa fa-user"></i> Modificar Información del Cliente</h3>
                    <hr>
                    <br>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Código Cliente</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Código">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Nombre Cliente</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Nombre">
                        <span class="help-block" id="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Descripción</label>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Región</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Europa">
                        <span class="help-block" id="error"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">País</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="España">
                        <span class="help-block" id="error"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Mercado</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Electicas">
                        <span class="help-block" id="error"></span>
                    </div>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class=" btn btn-primary btn-block "><span class="glyphicon glyphicon-log-in "></span> Modificar</button>
                            </div>
                            <div class="col">
                                <button type="submit" class=" btn btn-primary btn-block "><span class="glyphicon glyphicon-log-in "></span> Guardar Cambios</button>
                            </div>
                        </div>
                    </form>


                </div>

            </form>
        </form>
    </div>
</div>